.footer {
    background-color: #232a49;
    color: #f5f5f5;
    padding: 90px 40px;
    font-family: 'Georgia', serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 40px;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-description {
    max-width: 400px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.social {
    width: 36px;
    height: 36px;
    border: 1px solid #cfc6b8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cfc6b8;
    transition: all 0.3s ease;
}

.social:hover {
    background-color: #cfc6b8;
    color: #3b352e;
}

.footer-center {
    text-align: center;
}

.footer-logo {
    width: 90px;
    margin-bottom: 10px;
}

.footer-tagline {
    font-style: italic;
    font-size: 16px;
}

.footer-right {
    text-align: right;
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 15px;
}

.contact-row a {
    color: #f5f5f5;
    text-decoration: none;
}

.footer-divider {
    margin: 40px 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #d4cfc4;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: #d4cfc4;
    text-decoration: none;
}


@media (max-width: 992px) {
    .footer {
        padding: 60px 20px;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center;
    }

    .footer-description {
        max-width: 100%;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-logo {
        margin-top: 20px;
    }

    .contact-row {
        gap: 5px;
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer-links {
        justify-content: center;
        gap: 5px;
    }
}