.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}


.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-items {
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    border-color: var(--secondary-color);
    font-weight: bold;
}


.language-buttons {
    display: flex;
    gap: 10px;
}

.lang-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
}

.lang-btn:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.flag {
    font-size: 1.2rem;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {

    .nav-items,
    .navbar-right {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 120px;
        padding: 20px 0;
        z-index: 999;
        background-color: #232a49a9;
    }

    .mobile-nav-items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .mobile-language-buttons {
        display: flex;
        gap: 10px;
    }
}


@media (max-width: 480px) {
    .logo {
        height: 40px;
    }

    .nav-items {
        gap: 16px;
        font-size: 12px;
    }

    .lang-btn {
        padding: 4px 12px;
        font-size: 11px;
    }

    .mobile-nav-items li {
        font-size: 14px;
    }
}