* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 80px !important;
  font-family: Arial, sans-serif;
  background-color: rgb(226, 234, 247);
}

#root {
  min-height: 100vh;
}

.App {
  position: relative;
  width: 100%;
}